body, html{
  background: white;
  color: rgb(116, 116, 116); 
  font-family: Helvetica, sans-serif;
  text-align: center;
  overflow-y: scroll;  
}

h1{
  font-size: 60px;
  margin: 5% 0 2% 0;
}

input, table{
  -webkit-box-shadow: 
   inset 0 0 8px  rgba(0, 0, 0, 0.1),
         0 0 16px rgba(0, 0, 0, 0.1); 
  -moz-box-shadow: 
   inset 0 0 8px  rgba(0, 0, 0, 0.1),
         0 0 16px rgba(0, 0, 0, 0.1); 
  box-shadow: 
   inset 0 0 8px  rgba(0, 0, 0, 0.1),
         0 0 16px rgba(0, 0, 0, 0.1); 
  padding: 15px;
  background: rgba (255, 255, 205, 0.5);
}

input{
  border: 5px solid rgb(200, 210, 210);
  margin: 0 0 5% 0;
  width: 50%;
}

table {
  margin: auto;
  text-align: left;
  width: 90%;
  border-collapse: collapse;
}

table th{
  width: 50%;
}

table th, td{
  border: 1px solid rgb(200, 210, 210);
  padding: 1%;
}
